.edit_title_row {
    display: flex;
    justify-content: flex-start;
}

.title_input {
    width: 50%;
}

.edit_question {
    padding: 20px 0;
}

.edit_question_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
